.flowGroup{
    display: flex;
    flex-direction: row;
     flex-wrap: nowrap;
}

.actionList{
    background: #fff;
     width: 200px;
      padding: 0 15px 0 0;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space: nowrap;

}


.action{
    width:100%;
    cursor: pointer;
    user-select:none;
}

.actionHelper{
    width:130px;
    height: 50px;
    background: #F0FFFF;
    border:2px solid gray;
    z-index: 10000;
    position: absolute;
    border-radius: 3px;
    opacity: 0.5;
}

.flow{
    width:100%;
    border:1px dashed #CAE1FF;
    padding:10;
}